html, body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
}

.left, .right {
    display: flex;
}

.left {
    flex: 1 0 0;
    width: 35vw;
    height: 100vh;
}

.cover-image {
    max-width: 35vw;
}

.right {
    flex-direction: column;
}

.sign-up-blurb {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
